* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}
#__next {
  overflow-y: auto;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

body {
  font: 16px "Roboto", sans-serif;
}

abbr {
  text-decoration: none;
}
